* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #ccccbb;
    justify-content: center;
}
body {
    font-size: 35px;
    background-color: #eeeedd;
    font-family: 'Yusei Magic', sans-serif;
    justify-content: center;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--color-1);
    min-height: 600px;
}
.justify-text {
    justify-content: center;
    text-align: center;
}
.wide-margin {
    margin: 0px 25px;
}

#safe-image {
    width: 275px;
    height: 275px;
    margin-top: 12.5px;
}
.socialmedia-image {
    width: 50px;
    height: 50px;
    margin: 5px;
}

#text-wrapper {
    height: 450px;
    width: 450px;
}

#socialmedia-id-wrapper {
    display: flex;
    margin-top: 225px;
    width: 450px;
    justify-content: center;
    text-align: center;
}

#button-id-wrapper {
    min-height: 0px;
}

@media (max-width: 768px) {
    .container{
        flex-direction: column;
    }
    .wide-margin {
        margin-top: 25px;
        margin-bottom: 25px;
    }
}