* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-size: 35px;
    font-family: sans-serif;
    background-color: rgb(255, 196, 234);
}
.container {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: var(--color-1);
}

:root{
    --color-1: #cdb4db; /* Mobile */
    --color-2: #fff1e6; /* Tablet */
    --color-3: #b2b788; /* Laptop */
    --color-4: #369420; /* Desktop */
}

@media screen and (min-width: 1200px) {
    .container{
        background-color: --color-4;
    }
}
@media screen and (max-width: 1200px) {
    .container{
        background-color: --color-3;
    }
}
@media screen and (max-width: 992px) {
    .container{
        background-color: --color-2;
    }
}
@media screen and (max-width: 768px) {
    .container{
        background-color: --color-1;
    }
}